<ul class="photo-grid">
    <% @photos.each do |photo| %>
        <li>
            <%#= photo.filename %>
            <%= link_to photo_path(photo) do %> <!-- opening for you a tag -->
                <%= image_tag photo.image.url(:medium) %>
                <div><h3>Add</h3></div>
            <% end %> <!-- close of a tag -->
        </li>
    <% end %>
</ul>