<ul class="photo-grid">
    <% @photos.each do |photo| %>
      <li>
        </div>
            <%= link_to photo_path(photo) do %>
                <%= image_tag photo.image.url(:medium) %>
                <div></div>
            <% end %>
        </div>
      </li>
    <% end %>
</ul>

<div class="back-link">
    <%= link_to "Back", photos_path %>
</div>