<ul class="photo-grid">
    <% @photos.each do |photo| %>
      <li>
        </div>
            <%#= photo.filename %>
            <%= link_to photo_path(photo) do %> <!-- opening for you a tag -->
                <%= image_tag photo.image.url(:medium) %>
                <!-- <div><%#= link_to "Add", like_photo_path(photo), class: "add" %></div> -->
            <% end %> <!-- close of a tag -->
        </div>
      </li>
    <% end %>
</ul>

<div class="back-link">
    <%= link_to "Back", photos_path %>
</div>