<!DOCTYPE html>
<html>
  <head>
    <title>Grappple</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>


<body>
  





  <!-- PHOTO GRID CONTAINER -->
  <div class="main row">
    <div class="large-12 column no-pad"> 
      <div class="giftwrapper small-12 column no-pad"> 
        <div>
          <% @photos.each do |photo| %>
            <div class="gif-box large-2 medium-3 small-4 columns no-pad"
                  style="background-image: url(<%= photo.image.url(:medium) %>)"
                  >
            <span class="roll" ></span>
            </div>
          <% end %>                                                         
        </div>  
      </div>
    </div>
  </div>

</body>