// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.outline {
    border: 2px solid blue;
}


#searchtext {
  height:100%;
  width:100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 30px;
  margin: 0px;
  font-family: Helvetica;
  font-size: 100px;

}

/*#content {
*//*  opacity: 0.2;*/
/*  position: fixed;
  height: 100%;
  width: 100%;
  border: 1px solid lime;
}*/

#ouroverlay {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.photo-grid {
    height: 100%;
    margin: 60px 100px 100px 198px;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    overflow: auto;
}

.photo-grid li {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 6px;
    position: relative;
    float: left;
    overflow: hidden;
    width: 33.3333333%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    height: 274px;

}

 
.photo-grid li a,
.photo-grid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.photo-grid li a img {
    /*max-width: 100%;*/
    width: 100%;
    /*height: 100%;*/
    z-index: -1;
}
 
/* Flexbox is used for centering the heading */
 .photo-grid li div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;

}

.photo-grid li div span.roll {
  background-color: #000;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
}

 
.add, .photo-grid li div:hover {
    opacity: 1;
}
 
.photo-grid li a div h3 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}

.bar {
    width: 100%;
}

.box {
    width: 14.2857%; /* Fallback */
    width: -webkit-calc(100% / 7);
    width: calc(100% / 7);
/*    width: 200px;
*/  height: 170px;
    float: left;

}

.add {
    font-size: 100px;
    color: white;
    text-align: center;

}

.reveal-modal {
  z-index: 800000;
}

.wegotthis {
  height: 30px;
  width: 30px;
  /*color: red;
  border: 1px solid red;*/
}

div.back-link {
  position: relative;
  bottom: 55px;
  text-align: center;
}


/*NEW PHOTO GRID*/
.main {
  opacity: 1;
  transition: 1s;
  max-width: 100.0rem;
}

.row {
}

.gif-box {
  height: 200px;
 /* margin-bottom: -5px;*/
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

/*.gif-box:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}*/

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

span.roll {
  background-color: #000;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
}

 
/* Example for media query: change number of items per row */
 
@media screen and (max-width: 945px) {
    .photo-grid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 640px) {
  .gif-box {
    display: none;
  }
  .giftwrapper {
    margin-top: 2%;
    background-image: url('/assets/ca_cop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border: 1px solid black;
    border-radius: 2px;
  }
}

/*@media screen and (device-aspect-ratio: 40/71) {*/
@media screen and (max-width: 480px) {
    .photo-grid li {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 6px;
        position: relative;
        float: left;
        overflow: hidden;
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);

    }
}
